@import '~iview/src/styles/index.less';
@primary-color: #155d78;
@text-color: #495060;
@layout-sider-background : #155d78;
@menu-dark-title: #155d78;
@input-placeholder-color: #666;
@input-border-color: #eee;
@input-bg: rgb(247,247,247);
@input-group-bg: rgb(247,247,247);
@btn-padding-base : 6px 15px;

.ivu-input-group-prepend, .ivu-input-group-append{
  background-color: rgb(247,247,247);
  border: none;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu){
    color:#fff
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover{
    // background: #155d78

}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
    // background: none;
    // background-image:linear-gradient(to right, #2c91ac 0%, #155d78 100%);
}
.ivu-menu-item-active:not(.ivu-menu-submenu):hover{
    // background: #155d78
}
.ivu-page.mini .ivu-page-item{
    border-radius: 50%
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover{
    // background-image:linear-gradient(to right, #2c91ac 0%, #155d78 100%)!important;

}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active{
    // background-image:linear-gradient(to right, #2c91ac 0%, #155d78 100%);
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item{
    // background: #155d78
}
.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover{
    // background-image:linear-gradient(to right, #2c91ac 0%, #155d78 100%)!important;

}

// screen
@media screen and (min-width: 992px) {
    .md-hide-up{
      display: none;
    }
}

// mobile
@media screen and (min-width: 991px) {
    .md-hide-down{
      display: none;
    }
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.clickable{
  cursor: pointer;
}
.ivu-input, .ivu-input:focus, .ivu-input:hover{
  border: none;
  box-shadow: none;
  outline: 0;
}
.layout-container{
  border: 1px solid rgb(226, 225, 231);
  .layout-head{
    background-color: rgb(248, 248, 248);
    border-bottom: 1px solid rgb(226, 225, 231);
    text-align: left;
    // font-weight: 600;
    padding: 15px 0 17px 27px;
    height: 57px;
    font-size: 18px;
  }
  .layout-body{
    background-color: #fff;
    padding: 34px 23px;
  }
}
img.responsive{
  max-width: 100%;
  max-height: 400px;
}
.walletButton, .loginButton{
  background-image: linear-gradient(to bottom, rgb(249, 167, 56) 0%, rgb(246, 140, 50) 100%)!important;
  border: none;
  max-width: 100%;
}
.walletButton[disabled], .loginButton[disabled]{
    color: #fff!important;
    background-image: linear-gradient(to bottom, rgb(237, 236, 240) 0%, rgb(214, 213, 220) 100%)!important;
}
